.iconComponent{
    display: flex;
    align-items: center;
}

.iconColumn{
    flex-direction: column;
    font-size: .7rem;
}
.iconImage{
    width: .7rem;
    margin-right: 5px;
}

.iconImageSize{
    width: 35px;
}

